DB_HOST=mysql.elgaehost.com.br
DB_PORT=3306
DB_USER=u5744_07hJe0pOP4
DB_PASS=B7c^H3fBP8XgYCudCw^ImUN9
DB_NAME=feds

CASINO_ENABLED=false
JWT_SECRET_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6Ijc4ZTEwMzAzZTk5NDYwNDRhNGVhZjU3MzExZWE2OTVkIn0.e30.HC2jZKJIel_qTf_Yfdhz5tOY7UFbg5wH4U1pX7oz0i0T77yKRN6QWWMAuExJRhXj0PSW_DNDkwrf5mYwFP3AaA
API_KEY_PEPPER=

DISCORD_BOT_TOKEN=MTQ3MjIxNjcyNjAxOTI0ODIwOQ.GCQttJ._wQWRADjWXlEnGsapwLyHO3lgY1e74dd5kWWc8
NEXT_PUBLIC_DISCORD_CLIENT_ID=1472216726019248209
DISCORD_CLIENT_ID=1472216726019248209
DISCORD_CLIENT_SECRET=GNxs17HIsujfe5v8GDQSc077kuiXOGYV

NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAADAFjzklfXo06n7u
TURNSTILE_SECRET_KEY=0x4AAAAAADAFj3H6KCYmvYHYWo4wVS6k0H4

GITHUB_API_KEY=
MAILERSEND_API_KEY=mlsn.76c2fc8132ed4484a16f45c8a206875ed2608a412d8f956592a0258659195dae
STEAM_API_KEY=
VALORANT_API_KEY=
XOA_API_KEY=
VALORANT_API_KEY=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
YOUTUBE_API_KEY=
SPOTIFY_CLIENT_ID=889b16a7e3664979b00950bc7ade518d
SPOTIFY_CLIENT_SECRET=972a695c04fd4028b0e5e4d40bb8d081

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=

SPOTIFY_CLIENT_ID=889b16a7e3664979b00950bc7ade518d
SPOTIFY_CLIENT_SECRET=972a695c04fd4028b0e5e4d40bb8d081


CRON_API_KEY=G5EkR7CN7WjA6H2FZBZyKfTT5s1AKT8IUYTEkbmtfZU=
